<% content_for :title, "Contact Us" %>
    <div class="d-flex flex-column align-items-center">
    <div class="card mb-3 w-75">
    
    <div class="card-header text-center">
      <h1>Contact Us!</h1>
    </div>

    <div class="card mb-3 w-100 p-3">
        <div class="d-flex align-items-center">
            <div class="bg-dark text-white p-3 rounded-start d-flex align-items-center me-3">
                <i class="bi bi-telephone-outbound"></i>
            </div>
            <div class="me-3">
                <h5 class="mb-0">Phone:</h5>
            </div>
            <div>
                <p class="mb-0">123-456-7890</p>
            </div>
        </div>
    </div>

    <div class="card mb-3 w-100 p-3 ">
        <div class="d-flex align-items-center">
            <div class="bg-dark text-white p-3 rounded-start d-flex align-items-center me-3">
                <i class="bi bi-envelope-at"></i>
            </div>
            <div class="me-3">
                <h5 class="mb-0">Email:</h5>
            </div>
            <div>
                <p class="mb-0">best_toy_app@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="card mb-3 w-100 p-3">
    <div class="d-flex align-items-center">
        <div class="bg-dark text-white p-3 rounded-start d-flex align-items-center me-3">
            <i class="bi bi-buildings"></i>
        </div>
        <div class="me-3">
            <h5 class="mb-0">Address:</h5>
        </div>
        <div>
            <p class="mb-0">123 Main Street</p>
            <p class="mb-0">Southtown, MA, 8427</p>
        </div>
    </div>
    </div>

    <div class="card mb-3 w-100 p-3">
    <div class="d-flex align-items-center">
        <div class="bg-dark text-white p-3 rounded-start d-flex align-items-center me-3">
            <i class="bi bi-facebook"></i>
        </div>
        <div class="me-3">
            <h5 class="mb-0">Facebook:</h5>
        </div>
        <div>
            <p class="mb-0">@bestToyAppOfficial</p>
        </div>
    </div>
    </div>

    <div class="card mb-3 w-100 p-3">
    <div class="d-flex align-items-center">
        <div class="bg-dark text-white p-3 rounded-start d-flex align-items-center me-3">
            <i class="bi bi-instagram"></i>
        </div>
        <div class="me-3">
            <h5 class="mb-0">Instagram:</h5>
        </div>
        <div>
            <p class="mb-0">@bestToyAppOfficial</p>
        </div>
    </div>
    </div>

    <div class="card mb-3 w-100 p-3">
    <div class="d-flex align-items-center">
        <div class="bg-dark text-white p-3 rounded-start d-flex align-items-center me-3">
            <i class="bi bi-twitter"></i>
        </div>
        <div class="me-3">
            <h5 class="mb-0">Twitter:</h5>
        </div>
        <div>
            <p class="mb-0">@bestToyAppOfficial</p>
        </div>
    </div>
    </div>

      </div>
      </div>
