<% content_for :title, "Help" %>


<div class="d-flex justify-content-center">
  <div class="card p-3" style="max-width: 800px; width: 100%;">
    <div class="card-header text-center">
      <h3>Learn About the Different Parts of Our Site</h3>
    </div>
    <br>  
    <div class="row">
      <div class="col-md-3 d-flex align-items-center justify-content-center">
        <h5 class="card-title mb-0">Users!</h5>
      </div>
      <div class="col-md-9">
        <p class="card-text">-->This is a place where you can see all of the people who use our app</p>
        <p class="card-text">-->Each user must have a name and an email</p>
        <p class="card-text">-->These can be edited at anytime by going in and changing the user</p>
        <p class="card-text">-->Users can create and like microposts!</p>
      </div>
    </div>
<br><br><br>
    <div class="row">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
      <h5 class="card-title mb-0">Microposts!</h5>
    </div>
    <div class="col-md-9">
      <p class="card-text">-->This is a place where you can see all of the posts that have been posted by users</p>
      <p class="card-text">-->Each micropost must have a user who posted it </p>
      <p class="card-text">-->The content or poster can be edited at anytime by going in and changing it</p>
      <p class="card-text">-->Microposts can be liked by anyone!</p>
    </div>
  </div>

  </div>
</div>

<p class="card-text"></p>