<% content_for :title, "New to do" %>

<div class="d-flex justify-content-between align-items-center border-bottom py-2">
  <h1 class="mb-0"> New ToDo</h1>
  <%= link_to "Back to to dos", to_dos_path, class: "btn btn-success"%>
</div>

<%= render "form", to_do: @to_do %>

<br>

