<% content_for :title, "Editing category" %>

<div class="d-flex justify-content-between align-items-center border-bottom py-2">
  <h1 class="mb-0"> Editing category</h1>
</div>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show this category", @category, class: "btn btn-secondary" %>
  <%= link_to "Back to categories", categories_path, class: "btn btn-info" %>
</div>
